.hidden {
    display: none;
}

.show {
    display: block;
}

.pb_main_button {
    background-color: #2196f3;
    border: 2px solid #0069c0;
}

.pb_sub_button {
    background-color: #6ec6ff;
    border: 1px solid #2196f3;
}