.page{
    height: 85vh;
    display: flex;
    text-align: center;
    max-width: 1200px;
    margin: 40px auto;
    background-color: lightslategray;
    border: 4px solid gray;
}

.menu, .display {
    display: inline-block;
    height:100%;
    box-sizing: border-box;
    background-color: white;
    border: 3px solid antiquewhite;
}


.menu {

    padding: 40px;
    margin-right: 40px;
    margin-left: 20px;
    width: 30%;
}

.display {
    overflow: scroll;
    margin-right: 20px;
    width: 65%;
}
