.page{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    width: 65%;
    margin: auto;
    background-color: lightslategray;
    border: 4px solid gray;
}



.menu {
    width: 30%;
}

.display {
    width: 60%;
    align-self: flex-end;
    background-color: white;
    border: 3px solid antiquewhite;
}