.page{
    display: flex;
    text-align: center;
    width: 65%;
    margin: auto;
    background-color: lightslategray;
    border: 4px solid gray;
}

.prod_button {

}

.menu {
    width: 30%;
}

.display {
    width: 65%;
}